.sidebar {
    position: fixed;
    padding: 1rem;
    width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height:100vh;
    border-right: 1px solid #33333355;
    border-left: 1px solid #33333355;
}