.feed {
    width: 70%;
    max-width: 70%;
    margin-left: 400px;
    padding: 1rem;
    flex: 1;
    border-right: 1px solid #33333355;
    min-height: 100vh;
    
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        min-width: 300px;

           & > input {
               padding: 10px;
               margin-bottom: 10px;
               font-family: inherit;
               font-size: 15px;
               width: 50%;

               &:focus {
                   outline:none
               }

               &::-webkit-input-placeholder{
                   color:#333
               }
           }
           
           button {
               padding: 5px 10px;
               background-color: #333;
               color: #fff;
               font-family: inherit;
               font-size: 18px;
               border: none;
               border-radius: 0.5rem;
               cursor: pointer;
           }
           
     
    }
}